html
  head
    title #{self.d.meta.title}
    block variables
    link(rel='stylesheet',href='/css/main.css',type='text/css',media='all')


  body
    block content
      .header welcome to 
        span tryg

    block script
      script(type='text/javascript').
        console.log('later load jquery/etc');

    block postscript

